body {
  font-family: 'Jost', sans-serif !important; 
}
/*url link markdown*/
a {
  color: rebeccapurple;
  font-size: 18px;
}
a:hover{
  color: rebeccapurple;
}
h1 {
  font-size: 1.6em;
}
/*blog post font color*/
p {
  color: #e1D9D1;
  font-size: 18px;
}
/*layout size*/
.container-sm {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
} 

/*backround color*/
.bg-dark {
  background-color: #000 !important;
}

/*posts image*/
img {
  width: 100%;
}

/*avatar/profile image*/
.img-ava {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-bottom: 50px;
}

/*header/navbar*/
.head-rose {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
.head-rose:hover{
  color: white;
}
.float-md-start {
  font-size: 24px;
  text-align: center;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  /* border-bottom-color: rgba(255, 255, 255, .25); */
  border-bottom-color: rebeccapurple;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.nav.nav-masthead.justify-content-center.float-md-end {
  padding-bottom: 50px;
}
/*lists*/

ul.lists {
  list-style: decimal-leading-zero !important;
}

/*tags*/

.tags {
  padding-left: 0px;
}

/*date blog post*/
.time {
  font-size: 14px;
  padding-bottom: 20px;
}

/*higtlight code*/
.highlight {
  border-radius: 7px;

}
code,
pre,
kbd {
  line-height: 154%;
  overflow: auto;
  max-width: 100%;
  padding: 0.2em;
  border-radius: 10px;
  padding-left: 10px;
 
  font-size: 15px !important;
}



/* ========================================================================================= */



@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
} .spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}



*,
*:before,
*:after {
  box-sizing: border-box;
}


.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 8px;
  width: 50px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}


.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: rebeccapurple;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.article-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
















